#instructions-buttons {
	background: rgb(140, 190, 240);
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#zoomjoin-app-button {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 30px !important;
}

#header {
	font-size: 3rem;
	margin-bottom: 20px;
}

ol {
	padding-right: 20px;
	font-size: 2vh;
	margin-bottom: 10px;
}

.inst-cont {
    width: 100%;
    height: 100%;
}

#footer {
	overflow: hidden;
    bottom: 0;
    width: 100%;
}