.menu {
    width: 100vw;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-whatsapp {
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu-header-whatsapp {
    width: 100vw;
    height: 20vh;
    font-size: 2.5em;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.option-group-whatsapp {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4vh;
    padding-top: 2vh;
}

.instructions-whatsapp {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20vh;
}

.instruction-header-whatsapp {
    width: 100vw;
    height: 15vh;
    font-size: 1.75em;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
}

.sub-head-wa {
    width: 100vw;
    height: 5vh;
    font-size: 1.65em;
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

.lst-wa {
    width: 100vw;
    font-size: 1em;
    text-align: left;
    margin-bottom: 5vh;
    padding-right: 8vw;
    padding-left: 12vw;
}

li {
    padding-bottom: 1vh;
}

.more-help {
    width: 100vw;
    height: 5vh;
    font-size: 1.65em;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.button-group-whatsapp {
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgb(140, 190, 240);
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow: hidden;
}

.button-div-whatsapp {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding-left: 5vh;
    padding-right: 5vh;
    flex-direction: column;
    width: 100vw;
    height: 8vh;
}

.button-whatsapp {
    display: flex;
	height: 5vh;
    font-size: 125%;
    align-items: center;
    justify-content: center;
    color: #444;
    background: white;
	border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.25);
}
