.search {
    font-size: 2em;
    padding: 1vh;
    text-align: center;
}

input#searchbar {
    width: 50%;
    text-align: center;
}

.list {
    border-width: 1px;
    border-style: solid;
    border-color: #e3e3e3;
    margin: 0.1vh;
}

.focus-video {
    margin: 1vh;
    display: inline;
}

.video-frame {
    height: 40vh;
}

.description {
    padding: 1vh;
    border-width: 1px;
    border-style: solid;
    border-color: #e3e3e3;
}

.list-card {
    border-bottom: 1px solid #e3e3e3;
    padding: 1vh;
}

.list-title {
    display: inline-block;
    padding-top: 0.5vh;
}

.youtube {
    padding: 2vh;
}

.return {
    display: inline;
}

.return-button {
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
    font-size: 2em;
    border-radius: 1vh;
    border: thin solid #e3e3e3;
    box-shadow: 1px 1px 1px grey;
}
